<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link href="bootstrap.css" rel="stylesheet" />
     <link rel="stylesheet" href="bootstrap.min.css" />
    <link href="font-awesome.css" rel="stylesheet" type="text/css" />    
    <link rel="stylesheet" type="text/css" href="mystyle.css"/>
    <script src="bootstrap.js" ></script>
    
    <title >ClickIn</title>
</head>
<body style="background:no-repeat;background-image:url(city.png)">
    
    <nav class="nav navbar-fixed-top " role="navigation">
        <div class="nav navbar-header" style="padding-left:45%;padding-top:0.5%">
            <h1  style="color:black;font-family:Papyrus;padding-left:25px;text-align:center" >ClickIn</h1>
            </div> 
        <div class="pull-right" style="padding-right:15px;padding-top:1.5%">
            <a href="#"><input type="button" class="btn btn-lg btn-primary" value="SIGN IN"/></a>
        </div>
    </nav>
    <hr />
    
    
    <div class="col-lg-8 pull-right" style="padding-left:30%;padding-top:2%;color:darkblue" >
        
        <div class="col-lg-4" >
            <br />
             
           <!-- <label >First Name</label>-->
            @HTMl.
             <br />
             <br />
             <br />
             <label>Last Name</label>
            <br />
            <br />
           
             <label>Email</label>
            <br />
            <br />
             <br />
             <label>Password</label>
            <br />
            <br />
             <br />
             <label>Date of Birth</label>
            <br />
            <br />
                         
             <label>Country</label>
            <br />
            <br />
             <br />
             <label >City</label>
        </div>
         <div class="col-lg-6" >
             <form action="#" method="post">
             <br />
            <input style="opacity:0.6" type="text" name="fname" required="required" class="btn"/>
            <br />
             <br />
             <input style="opacity:0.6" type="text" name="lname" required="required" class="btn"/>
            <br />
             <br />
              <input style="opacity:0.6" type="email" name="e-mail" required="required" class="btn"/>
            <br />
             <br />
              <input style="opacity:0.6" type="password" name="pass" required="required" class="btn"/>
            <br />
             <br />
             <input style="opacity:0.6;padding-left:15%" type="date" name="date" required="required" class="btn" />
            <br />
             <br />
             <input style="opacity:0.6" type="text" name="country" required="required" class="btn"/>
             <br />
             <br />
             <input style="opacity:0.6" type="text" name="city" required="required" class="btn"/>
             <br />
             <br />
             </form>
             <div class="pull-right" >
                 <input type="submit" value="Register" class="btn btn-lg btn-success"/>
             </div>
        </div>

        
    </div>
    <footer class="navbar-fixed-bottom navbar-inverse">
        <div style="text-align: center; color:wheat" class="navbar-inverse">
            <p class="list-inline small">Copyright &copy; 2015. Design by  Shaharyar Tariq</p>
            <p class="list-inline small">Bitf12m043</p>           
            
        </div>
    </footer>
</body>
   
</html>
