@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <body style="background: repeat; background-image: url(/Content/img6.jpg)">   
   
    
        <br />
        <br />
    <div class="col-lg-1"></div>
    
    <div class="col-lg-4" style="padding-top:3% ;color:black;background-color:white;padding-right:0.5%" >

      
         <div class="col-lg-8">
             
             <h1>Upload Image</h1>
             <br />
             <p>Only jpg and png format is allowed</p>
             <br />
             @using (Html.BeginForm("saveUpload", "Client", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input name="uploadFile" type="file" class="btn btn-lg btn-success"/>
                 <br />
                 <br />
    <input type="submit" value="Upload Picture" Class="btn btn-lg btn-primary"/>
                 <br />
                 <br />
}
             </div> 
                 <br />
                 <br />         
           
             
       </div>
        
    
 
</body>


